:root {
  --pink: #f72585;
  --purple: #7209b7;
  --typian-blue: #3a0ca3;
  --blue: #4361ee;
  --sky-blue: #4cc9f0;
}

.foto-container {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 60vh;
}

.home-container {
  background-image: url("../assets/the-color-run_home.jpg");
  width: 100%;
  height: 70vh;
}

.nav-link {
  color: var(--pink);
}

.nav-link:hover {
  background-color: var(--pink);
  color: white;
  transition: 0.3s;
}

.navbar {
  padding: 0;
  background-color: var(--purple);
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  width: 100%;
}

h1 {
  color: var(--purple);
}

.event-container {
  width: 100%;
  min-height: 60vh;
  background-color: var(--pink);
}

.title-event {
  color: var(--blue);
  padding-bottom: 20px;
}

.event-foto {
  background-image: url("../assets/event.jpg");
}

.event-description p {
  color: var(--typian-blue);
}

.why-container {
  width: 100%;
  min-height: 60vh;
  background-color: var(--typian-blue);
}

.why-foto {
  background-image: url("../assets/child.jpg");
}

.why-description {
  color: var(--pink);
}

.title-why {
  color: var(--sky-blue);
  padding-bottom: 20px;
}

/*-------------------------------------*/

.how-container {
  width: 100%;
  min-height: 60vh;
  background-color: var(--sky-blue);
}

.how-foto {
  background-image: url("../assets/run.jpg");
}

.how-description {
  color: var(--typian-blue);
}

.title-how {
  color: var(--pink);
  padding-bottom: 20px;
}

.redes-container {
  position: fixed;
  top: 30vh;
  left: 0;
}
.redes-container ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.redes-container li {
  width: 50px;
  text-align: center;
  font-size: 1.2em;
}
.redes-container li a {
  display: inline-block;
  padding: 5px 10px;
  width: 100%;
  color: white;
}
.redes-container li:hover {
  width: 70px;
  transition: 0.4s;
}
.facebook {
  background-color: #3b5998;
}
.instagram {
  background-color: #bc2a8d;
}
.youtube {
  background-color: #c4302b;
}
.mail {
  background-color: var(--purple);
}

.sponsor-section {
  background-color: var(--typian-blue);
}
.sponsor-container {
  /* scroll-behavior: smooth; */
  overscroll-behavior-x: contain;
  overflow-x: scroll;
  scroll-snap-type: x proximity;
  min-height: 40vh;
}
.sponsor-container::-webkit-scrollbar {
  height: 8px;
}
.sponsor-container::-webkit-scrollbar-thumb {
  background-color: var(--pink);
  border-radius: 4px;
  width: 10px;
}
.sponsor {
  min-width: 150px;
  height: 200px;
  background-color: #7209b7;
  margin: 5px 15px;
  scroll-snap-align: center;
}

footer {
  background-color: var(--purple);
  width: 100%;
  height: 30vh;
  color: white;
}
